  
/*
        ░░░░░░░░░▄░░░░░░░░░░░░░░▄
        ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌ 
        ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐
        ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
        ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
        ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌
        ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌ so source
        ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
        ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌
        ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌
        ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐ much code
        ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌
        ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐
        ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌
        ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐ how do you accessed ? wow
        ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌
        ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
        ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
        ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀ 
    */
  * {
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
    }
    body {
      margin: 0;
      height: 100%;
      background: #f9fafb;
    }
    header {
      padding: 10px;
      position: relative;
      background: rgb(252,204,32);
      background: url('hdr.png');
      background-size: cover;
      background-position: center;
      z-index: 1;
    }
    table {
      padding: 20px;
      width: 90%;
    }
    th, td {
      padding: 10px;
      text-align: center;
      width: auto;
      overflow: auto;
    }
    #add {
      padding: 15px;
      border:0px solid white;
      border-radius: 10px;
      outline: 0;
      box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 12px;
      background: rgb(251,255,252);
      font-size: 14px;
      padding-left: 20%;
      padding-right: 15%;
    }
    #add {
      width: 90%;
      text-align: left;
    }
    #submit {
      background-color: white;
      padding-left: 10px;
      padding-right: 10px;
    }
    #submit:hover {
      background: #000;
      color: white;
    }
    #rslt {
      background: #f9fafb;
      height: 100%;
      width: 100%;
      border:none;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-top: -3%;
      position: relative;
      z-index: 2;
    }
    #qrimg {
      border:1px solid #ccc;
      border-radius: 6px;
      padding: 5px;
    }
    #qdn {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }
    #mainbox {
      position: relative;
    }
    form .clear-text {
      position: absolute;
      font-size: 28px;
      top: 10px;
      right: 8%;
      text-decoration: none;
      background: white;
      border-radius: 100%;
      margin: 0;
      color: #f7a602;
  }
  form .fieldset {
      position: relative;
      margin: 10px 0;
      width: 320px;
  }
  form .fieldset .form-text {

  }
  form .fieldset .form-text:required:valid:focus + .clear-text {
      display: inline-block;
  }
  form .fieldset .form-text:required:invalid + .clear-text {
      display: none;
  }
  form .fieldset .form-text:not([required]).valid-text:focus + .clear-text {
      display: inline-block;
  }
  form .fieldset .form-text:not([required]):not(.valid-text) + .clear-text {
      display: none;
  }
  #addData {
    padding: 0px;
    width: 50%;
    background: white;
    color: black;
    border-radius: 10px;
    display: block;
    margin: auto;
    text-align: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    word-wrap: break-word;
  }
  #vosc {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    background:rgb(37,80,250);
    border-radius: 6px;
    cursor: pointer;
    border:1px solid rgb(37,80,250);
    transition: all 0.13s ease;
  }
  #vosc:hover {
    text-decoration: underline;
    background-color: white;
    color: rgb(37,80,250);
  }
  #anim {
    position: absolute;
    top: 1%;
    left: 3%;
    background: url("dtm.png");
    background-size: 78.125px 49.875px;
    height: 49.875px;
    width: 78.125px;
    transition: 0.5s all ease;
 }
 #more{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
      backdrop-filter:blur(6.4px);
      -webkit-backdrop-filter:blur(6.4px);
      -ms-backdrop-filter:blur(6.4px);
    padding: 0;
    border:none;
    bottom: -100%;
    z-index: 1000;
  }
  #mmc {
    position: fixed;
    height: 80%;
    width: 100%;
    background:white;
    bottom: -100%;
    left: 0%;
    right: 0%;
    word-wrap: break-word;
    overflow-y: scroll;
    border:none;
    border-radius: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 1s ease;
    z-index: 1001;
  }
  #mmchdr {
    padding: 5px;
    text-align: center;
    border:none;
    border-bottom: 1px solid #ccc;
  }
  #cdts, #uses, #abtus {
    padding: 20px;
    width: 100%;
  }
  #shmm {
    position: absolute;
    bottom: -1%;
    right: 0%;
    transform: translate(0%,0%);
    cursor: pointer;
    font-size: 20px;
    z-index: 999;
  }
  @media screen and (max-width: 500px) {
      #addData {
        width: 90%;
      }
      #mmc {
        height: 70%;
        width: 100%;
      }
  }
  #smsgp {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter:blur(6.4px);
    -webkit-backdrop-filter:blur(6.4px);
    -ms-backdrop-filter:blur(6.4px);
    padding: 0;
    border:none;
    bottom: -100%;
    z-index: 1000;
  }
  .msg_form {
      position: fixed;
      height: 80%;
      width: 100%;
      background:white;
      bottom: -100%;
      left: 0%;
      right: 0%;
      word-wrap: break-word;
      overflow-y: scroll;
      border:none;
      border-radius: 0px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      transition: all 1s ease;
      z-index: 1001;
    }
    #msg_form {
      display: block;
      margin: auto;
      width: 80%;
    }
    #username, #message, #send_message {
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      outline: 0;
      box-shadow: rgba(0,0,0, 0.1) 0px 2px 7px;
    }
    #username, #message {
      border:none;
    }
    #send_message {
      cursor: pointer;
      border:1px solid rgb(243,175,19);
      color: rgb(243,175,19);
      background: white;
      font-weight: bold;
      transition: all 0.2s ease;
      word-wrap: break-word;
    }
    #send_message:hover {
      background: linear-gradient(to left, rgb(252,213,8), rgb(243,175,19));
      color: white;
    }
    .text-danger {
      color: rgb(255,69,94);
      padding: 10px;
      background: rgb(255,202,208);
      box-sizing: border-box;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      animation: aniD 500ms ease;
    }
    .text-success {
      color: rgb(26,145,70);
      padding: 10px;
      background: #E0F8E8;
      box-sizing: border-box;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      animation: aniS 100ms ease;
    }
    @keyframes aniD {
      0% {
        margin-left: -5px;
      }
      50% {
        margin-left: 5px;
      }
      100% {
        margin-left: 0px;
      }
    }
    @keyframes aniS {
      0% {
        margin-top: -2px;
      }
      100% {
        margin-top: 0px;
      }
    }
