  
/*
        ░░░░░░░░░▄░░░░░░░░░░░░░░▄
        ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌ 
        ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐
        ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
        ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
        ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌
        ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌ so source
        ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
        ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌
        ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌
        ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐ much code
        ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌
        ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐
        ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌
        ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐ how do you accessed ? wow
        ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌
        ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
        ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
        ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀ 
    */
  * {
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
    }
    body {
      margin: 0;
      height: 100%;
      background: #141E28;
    }
    header {
      padding: 10px;
      position: relative;
      background: rgb(252,204,32);
      background: url('hdr.jpg');
      background-size: cover;
      background-position: center;
      z-index: 1;
    }
    table {
      padding: 20px;
      width: 90%;
    }
    th, td {
      padding: 10px;
      text-align: center;
      width: auto;
      overflow: auto;
    }
    .FAQ {
      position: absolute;
      bottom: 0%;
      left:50%;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 0px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border: none;
      font-size: 12px;
      background: rgb(37,80,250);
      color: white;
      text-decoration: none;
      font-weight: bold;
      transform: translate(-0%,-50%);
    }
    #add {
      padding: 15px;
      border:0px solid white;
      border-radius: 10px;
      outline: 0;
      box-shadow: rgba(28, 41, 56, 0.2) 0px 7px 29px 0px;
      font-size: 14px;
      padding-left: 16%;
      padding-right: 15%;
      background: #1C2938;
      color: white;
    }
    #add {
      width: 90%;
      text-align: left;
    }
    #add::placeholder {
      color: rgba(255,255,255,0.8);
    }
    #nscn {
      color: white;
    }
    #submit {
      background-color: white;
      padding-left: 10px;
      padding-right: 10px;
    }
    #submit:hover {
      background: #000;
      color: white;
    }
    #rslt {
      background: #141E28;
      height: 100%;
      width: 100%;
      border:none;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-top: -3%;
      position: relative;
      z-index: 2;
    }
    .tBtn {
      background: #1C2938;
      border: none;
      border-radius: 10px;
      padding: 6px;
      padding-left:12px;
      padding-right:12px;
      font-size: 13px;
      cursor: pointer;
      color: #fff;
    }
    #totalBalance {
      color: rgb(210,210,210);
    }
    #showingBalance {
      color: white;
    }
    #val, #rvv, #svv {
      color: rgba(255,255,255,0.9);
    }
    #qrimg {
      border:1px solid #fff;
      border-radius: 6px;
      padding: 5px;
    }
    #qdn {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }
    #tellAdd {
      font-size: 13px;
    }
    #mainbox {
      position: relative;
    }
    form .clear-text {
      position: absolute;
      font-size: 28px;
      top: 10px;
      right: 8%;
      text-decoration: none;
      background: white;
      border-radius: 100%;
      margin: 0;
      color: rgb(242,184,22);
  }
  form .fieldset {
      position: relative;
      margin: 10px 0;
      width: 320px;
  }
  form .fieldset .form-text {

  }
  form .fieldset .form-text:required:valid:focus + .clear-text {
      display: inline-block;
  }
  form .fieldset .form-text:required:invalid + .clear-text {
      display: none;
  }
  form .fieldset .form-text:not([required]).valid-text:focus + .clear-text {
      display: inline-block;
  }
  form .fieldset .form-text:not([required]):not(.valid-text) + .clear-text {
      display: none;
  }
  #addData {
    padding: 0px;
    width: 50%;
    background: #1C2938;
    color: white;
    border-radius: 10px;
    display: block;
    margin: auto;
    text-align: left;
    word-wrap: break-word;
    border:1px solid rgb(13,21,36);
    margin:0 auto;
  }
  #saData {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border:none;
    border-bottom:0px solid #ccc;
    background: rgb(13,21,36);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  #vosc {
    text-decoration: none;
    color: white;
    padding: 7px;
    font-size: 12px;
    text-align: center;
    background:rgb(37,80,250);
    border-radius: 6px;
    cursor: pointer;
    border:2px solid rgb(37,80,250);
    transition: all 0.13s ease;
    width: 49%;
  }
  #vosc:hover {
    text-decoration: underline;
    background-color: transparent;
    color: rgb(37,80,250);
  }
  #senddg {
    text-decoration: none;
    color: white;
    padding: 7px;
    font-size: 12px;
    text-align: center;
    background:rgb(242,184,22);
    border-radius: 6px;
    cursor: pointer;
    border:2px solid rgb(242,184,22);
    transition: all 0.13s ease;
    width: 49%;
  }
  #senddg:hover {
    text-decoration: underline;
    background-color: transparent;
    color: rgb(242,184,22);
  }
  #anim {
    position: absolute;
    top: 20%;
    left: 9%;
    height: 20px;
    width: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s all ease;
 }
 #more{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
      backdrop-filter:blur(6.4px);
      -webkit-backdrop-filter:blur(6.4px);
      -ms-backdrop-filter:blur(6.4px);
    padding: 0;
    border:none;
    
    bottom: -100%;
    z-index: 1000;
  }
  #mmc {
    position: fixed;
    height: 80%;
    width: 100%;
    background:#1C2938;
    bottom: -100%;
    left: 0%;
    right: 0%;
    word-wrap: break-word;
    overflow-y: scroll;
    border:none;
    border-radius: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 1s ease;
    z-index: 1001;
    color: white;
  }
  #mmc a {
   color: rgb(37,80,250); 
  }
  #mmchdr {
    padding: 5px;
    text-align: center;
    border:none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
  #cdts, #uses, #abtus {
    padding: 20px;
    width: 100%;
  }
  #shmm {
    position:fixed;
    bottom: -1%;
    right: 0%;
    transform: translate(0%,0%);
    cursor: pointer;
    font-size: 20px;
    z-index: 999;
  }
  @media screen and (max-width: 500px) {
      #addData {
        width: 90%;
      }
      #mmc {
        height: 70%;
        width: 100%;
      }
      #tellAdd {
        font-size: 11px;
      }
      #vosc, #senddg {
        width: auto;
      }
  }
  #preview{
   width:290px;
   height: 290px;
   margin:0px auto;
}
  #mhqr {
  background: rgba(0,0,0,0.4);
  backdrop-filter:blur(6px);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 99999;
}
#mainqr {
  height: 320px;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.uqrw{
  height: auto;
  width: auto;
  border-radius: 7px;
  background: transparent;
  padding: 0px;
}
.uqrw form{
  height: auto;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  transition: height 0.2s ease;
}
#fcbc {
  color: white;
}
form .content p{
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
}
#meow {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  height: 290px;
  width: 290px;
  margin: auto;
  display: block;
}
#imgqr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#tools {
      background: rgba(0,0,0, 0.5);
      height: 100%;
      width: 100%;
      padding: 20px;
      backdrop-filter:blur(6.4px);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99999;
      display: none;
      overflow-y: auto;
    }
    #usd-doge, #qrgenerator {
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      background: #1C2938;
      width: 32%;
      border-radius:10px;
      position: relative;
      border:1px solid transparent;
      display: block;
      margin: auto;
      color: white;
    }
    #swpIcn {
      font-size: 17px;
      padding: 5px;
      background: #141E28;
      border-radius: 50%;
      position: absolute;
      z-index: 100;
      top: 46%;
      left: 50%;
      transform: translate(-50%,-46%);
      border: 5px solid #1C2938;
      color: #fff;
    }
    #inuf {
      padding: 1px;
      background: transparent;
      width: 100%;
      box-sizing: border-box;
      position: relative;
    }
    #inuf input {
      background: #141E28;
      color: white;
      border:1px solid transparent;
    }
    #dogv, #dolv, #clrud {
      padding: 10px;
      width: 90%;
      outline: 0;
      background: white;
      border: none;
      box-sizing: border-box;
      display: block;
      margin: auto;
      border-radius: 10px;
      margin-top: 10px;
    }
    #nadd,#amnt,#generate, #qclr {
      padding: 10px;
      width: 90%;
      outline: none;
      background: white;
      border: none;
      box-sizing: border-box;
      display: block;
      margin: auto;
      border-radius: 10px;
      border:1px solid #ccc;
    }
    #generate {
      background:#141E28;
      border:1px solid transparent;
    }
    #clrud, #generate, #qclr {
      cursor: pointer;
    }
    #generate, #qclr {
      width: 40%;
    }
    #generate:hover {
      border-color: #141E28;
    }
    #qclr, #clrud {
      color:rgb(255,69,94);
    }
    #qclr:hover, #clrud:hover {
      border:1px solid rgb(255,69,94);
      background: rgb(255,69,94);
      color: white;
    }
    #clrud, #qclr {
      background: #141E28;
      border:1px solid #141E28;
    }
    @media screen and (max-width: 500px) {
      #usd-doge,#qrgenerator {
        width: 95%;
      }
    }
    #damta {
      display: block;
      margin: auto;
    }
    #ndq {
      color: white;
    }
    #qttp {
      position: relative;
      display: inline-block;
    }
    #qttp .ttptxt {
      visibility: hidden;
      width: 200px;
      background-color: #111;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 50%;
      margin-left: -100px;
      padding: 10px;
    }
    #qttp:hover .ttptxt {
      visibility: visible;
    }
